db/
incremental_db/
output_files/
simulation/

*.log
*.rpt
*.bak

*.tmp
*.swp

# ignore Questa compilation libraries
work/
msim/
_vti/

# ignore simulation waveform databases and locks
*.wlf
*.wlf_LOCK
transcript
vsim.wlf

